---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actually...",
    title: "Freelancer",
    company: "Upwork",
    image: "https://pangrampangram.com/cdn/shop/articles/442269ac56eddaecd3fa3dd752c38870_1920x.jpg?v=1631828825",
    description:
      "As a freelance developer on the platform, I engage directly with clients to understand their specific needs and goals. I offer a range of services, including software creation, support, and maintenance, ensuring that each solution is tailored to their requirements. My focus is on delivering high-quality and efficient results, leveraging my expertise to provide value and ensure client satisfaction throughout the development process.",
    link: "https://www.upwork.com/freelancers/~01654deae2f2e93905?mp_source=share",
  },
  {
    date: "September 2021 - June 2023",
    title: "Principal Android Developer",
    company: "XETID, Cuba",
    image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRSLKMD49GU6orGzWs7MD7NqpsjF6La0F1sg&s",
    description:
      "As the lead Android developer, I managed task assignments and delivery reviews to ensure the quality and accuracy of new feature development for the company’s Android applications. My role involved coordinating the team's work, providing technical guidance, and ensuring adherence to development standards and best practices, thereby optimizing the development process and ensuring the timely delivery of effective solutions. My most notable achievement was the successful migration of the <a href='https://www.facebook.com/ticketXetid' target='_blank'><strong class='text-yellow-500'>Ticket</strong></a> application to a modular architecture, which enhanced the project's scalability and reduced resistance to future changes.",
    link: "https://www.facebook.com/xetid/about",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
