---
import Mail from "../icons/Mail.astro"

const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
    <span class="ml-4 text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href="" class="hover:underline">Ibrakd</a>. All rights reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mx-4 mt-3 text-sm font-medium text-zinc-800/90 dark:text-zinc-200/90 sm:mt-0"
    >
      <li>
        <a id="contact" href="mailto:iptrianaa@gmail.com" class="hover:underline">
          <Mail class="size-6 mr-2 inline" /> iptrianaa@gmail.com</a
        >
      </li>
    </ul>
  </div>
</footer>