<header class="flex justify-between">
    <img class="rounded-full w-10 h-10" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpxhere.com%2Fes%2Fphoto%2F451653&psig=AOvVaw3l1lO6pQouZeuiDxBaNQNv&ust=1723436781102000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPCSsL2M7IcDFQAAAAAdAAAAABAE" alt="">
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>