---
const personalImageAlt = "Ibrahin Perez";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import MailIcon from "../icons/Mail.astro";
import SocialPill from "../components/SocialPill.astro";
import DownloadFile from "../icons/DownloadFile.astro";
---

<div class="max-w-xl mt-16">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg w-16 h-16"
      src="https://github.com/iptriana98.png"
      alt={personalImageAlt}
    />
  </div>
  <p
    class="mt-6 text-lg text-gray-800 dark:text-gray-300 [&>strong]:text-yellow-500 dark:[&>strong]:text-yellow-200 [&>strong]:font-semibold"
  >
    👋 Hi, my name is
  </p>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white flex items-baseline"
  >
    Ibrahin Perez
    <a
      href="https://linkedin.com/in/ibrahinperez"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-flex px-4 rounded-full transition-transform hover:scale-105 -translate-y-1"
    >
      <Badge>Open to work</Badge>
    </a>
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:text-gray-300 [&>strong]:text-yellow-500 dark:[&>strong]:text-yellow-200 [&>strong]:font-semibold"
  >
    5+ years of experience. <strong
      >Software Engineer specializing in the development of web and mobile
      applications</strong
    > from Texas, United States 🇺🇸. My goal is to deliver <strong
      >quality software</strong
    > and a
    <strong>unique user experience.</strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill
      href="mailto:miduga@gmail.com"
      aria-label="Enviar correo a Ibrahin Perez"
    >
      <MailIcon class="w-6 h-6" />
      Contáctame
    </SocialPill>
    <SocialPill
      href="https://linkedin.com/in/midudev"
      aria-label="Ver perfil de LinkedIn de Ibrahin Perez"
    >
      <LinkedInIcon class="w-6 h-6" />
      LinkedIn
    </SocialPill>
    <SocialPill
      href="../../public/Ibrahin Perez.pdf"
      download="Ibrahin_Perez_CV.pdf"
      aria-label="Download Ibrahin Perez's resume"
    >
      <DownloadFile class="w-5 h-6" />
      Download CV
    </SocialPill>
  </nav>
</div>
